.grid {
  @include onSmallDesktop {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
  }

  @include onDesktop {
    column-gap: 25px;
  }

  &__item {
    @for $start from 1 through 12 {
      @for $end from $start through 12 {
        
        @include onSmallDesktop {
          &--small-desktop-#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
        }

        @include onDesktop {
          &--desktop-#{$start}-#{$end} {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
