.navigation {
  &__link {
    font-family: $second-font;
    font-weight: 700;
    letter-spacing: $main-letter-spacing;
    text-transform: uppercase;
    cursor: pointer;
    color: $white-color;
    @include hover(color, $accent-color);
  }
}

@include onTablet {
  .navigation {
    &__list {
      display: flex;
      justify-content: space-between;
    }
  }
}
