.social-media {
  display: flex;

  &__item:not(:last-child()) {
    margin-right: 32px;
  }

  &__icon {
    display: block;
    fill: $header-footer-text-color;
    transition: fill 0.3s;
  }

  &__link {
    @extend %display-flex;
    &:hover .social-media__icon {
      fill: $accent-color;
    }
  }
}
