@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap");

$main-font: "Open Sans", sans-serif;
$second-font: "Poppins", sans-serif;

html {
  font-family: $main-font;
  font-weight: 600;
  font-style: normal;
}
