.page {
  scroll-behavior: smooth;

  &__body {
    background-color: $page-background;
    color: $main-text-color;
    margin: 0;

    // &--with-menu {
    //   overflow: hidden;
    // }
  }
}

.page__section {
  margin-bottom: 120px;

  &--pre-title {
    margin-bottom: 16px;

    font-family: $second-font;
    font-size: inherit;
    line-height: 20px;
    letter-spacing: $main-letter-spacing;
    text-transform: uppercase;

    color: #c0cdd7;
  }

  &--title {
    margin-bottom: 24px;
    text-align: center;

    font-family: $second-font;
    font-weight: inherit;
    font-size: 32px;
    line-height: $main-line-height;
    color: $secondary-text-color;
  }
}
