.footer {
  padding: 80px 0;
  border-radius: 25px 25px 0 0;
  background-color: $header-footer-background;
  color: $header-footer-text-color;

  &__title {
    margin-bottom: 48px;
    text-align: start;
    color: $header-footer-text-color;
  }

  &__contact-form,
  &__contacts {
    margin-bottom: 80px;
  }

  &__logo {
    display: inline-block;
    margin-bottom: 48px;
  }

  &__navigation .navigation__link {
    @include hover(color, $accent-color);
  }
}

.contact-form {
  &__field {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 41px;
    margin-bottom: 40px;
    padding: 0 0 16px;

    font-family: $second-font;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: $white-color;

    outline: none;
    border: none;
    border-bottom: 1px solid $white-color;
    background-color: transparent;
    transition: all 0.3s;

    &:hover {
      border-color: $accent-color;
    }

    &:focus {
      border-color: $accent-color;
      &::placeholder {
        color: transparent;
      }
    }
  }

  &__textarea {
    resize: none;
    margin-bottom: 56px;
  }

  &__button {
    margin: 0 auto;
  }
}

.contact-us {
  &__item:not(:last-child) {
    margin-bottom: 40px;
  }

  &__second-title {
    margin-bottom: 8px;
  }

  &__link {
    font-size: 24px;
    line-height: $main-line-height;
    color: $header-footer-text-color;

    @include hover(color, $accent-color);
  }
}

.footer__navigation .navigation__item:not(:last-child) {
  margin-bottom: 24px;
}

@include onTablet {
  .footer {
    padding: 180px 0 80px;

    &__title {
      margin-bottom: 56px;
    }

    &__contacts,
    &__contact-us {
      max-width: 362px;
    }

    &__contacts {
      margin-bottom: 139px;
    }

    &__contact-form {
      margin-bottom: 120px;
    }

    &__logo {
      margin-bottom: 24px;
    }

    &__navigation .navigation__item:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .contact-form__button {
    margin: 0;
  }
}

@include onSmallDesktop {
  .footer {
    &__contacts {
      margin-bottom: 104px;
    }

    &__contacts,
    &__contact-us {
      max-width: none;
    }

    &__contact-form,
    &__logo {
      margin-bottom: 0;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__navigation .navigation__item:not(:last-child) {
      margin-right: 64px;
    }
  }
}
