.header {
  box-sizing: border-box;
  padding-top: 20px;
  height: 100vh;
  background-color: $header-footer-background;
  border-radius: 0 0 30px 30px;

  &__top {
    margin-bottom: 48px;
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 32px;
  }

  &__menu-opener {
    margin-right: auto;
    background-image: url(../images/Menu.svg);
    width: 24px;
    height: 24px;
    @include imageCenter;
  }

  &__navigation {
    display: none;
  }

  &__navigation--link {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      bottom: -8px;
    }

    &:hover::after {
      background-color: $accent-color;
    }
  }

  &__title {
    margin-bottom: 32px;

    @extend %main-title;
    font-size: 52px;
    line-height: 120%;
    letter-spacing: -2px;

    color: $header-footer-text-color;
  }

  &__slogan {
    max-width: 362px;
    margin-bottom: 72px;

    font-weight: 400;
    font-size: 18px;
    line-height: $main-line-height;

    color: $header-footer-text-color;
  }

  &__button {
    margin: 0 auto;
  }
}

@include onTablet {
  .header {
    &__title {
      font-size: 64px;
      line-height: 106%;
    }
  }
}

@include onSmallDesktop {
  .header {
    padding-top: 48px;

    &__top {
      display: flex;
      justify-content: space-between;
    }

    &__menu-opener {
      display: none;
    }

    &__navigation {
      display: block;

      .navigation__item:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}
